{% load static %}
{% include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/staticmain.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
    .horizont div {
        float: left;
        clear: none;
    }
    .vertical div {
        float: none;
        
    }
    table {
    width: 350px;

    border-collapse: collapse;
    }
    th, td {
        text-align: left;
        width: auto;
    }
</style>
</head>
<body>
        <h2>{{device}}</h2>

        <table>
            
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>     </th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{device.name}}</td>
                <td>{{device.power_level}} </td>
                <td><a href="/devices/{{device.id}}">Update Device</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table> 
    

    

   
        {% load plotly_dash %}
    
        {{ plot | safe }}
    


</body>
</html>