{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/staticmain.css' %}">
    <title>Document</title>
<style>

</style>
</head>
<body>
    <h2>{{device.sector}}</h2>

        <table>
            
        <thead>
            <tr>
                <th>Name</th>
               
                <th>Level</th>
                
            </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{device.name}}</td>
                
                <td>{{device.power_level}} </td>

            </tr>
        {% endfor %}
        </tbody>
        </table> 

</body>
</html>