{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/staticmain.css' %}">

</head>
<body>
    
    <h1>Elektroprojekt2</h1>

    <a class="button button1" href="/">Home</a>    
    <a class="button button1" href="/elspot/">Prices</a>
    <a class="button button1" href="/devices/">Devices</a> 
    <a class="button button1" href="/accounts/logout/">Logout</a> 

    <hr>
</body>
</html>